<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="static/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="../static/css/app.css"/>
        <script type="text/javascript" src="../static/lib/jquery/jquery.js"></script>
        <!-- <script src="../popper/popper.js"></script> -->
        <!-- <link rel="stylesheet" type="text/css" href="../lib/fontawesome/css/font-awesome.css" /> -->
        <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/css/bootstrap.css" />
        <script src="../static/lib/bootstrap/js/alert.js"></script>
        <script src="../static/lib/bootstrap/js/button.js"></script>
        <script src="../static/lib/bootstrap/js/carousel.js"></script>
        <script src="../static/lib/bootstrap/js/collapse.js"></script>
        <script src="../static/lib/bootstrap/js/dropdown.js"></script>
        <script src="../static/lib/bootstrap/js/index.js"></script>
        <script src="../static/lib/bootstrap/js/modal.js"></script>
        <!-- <script src="../bootstrap/js/popover.js"></script> -->
        <script src="../static/lib/bootstrap/js/scrollspy.js"></script>
        <script src="../static/lib/bootstrap/js/tab.js"></script>
        <script src="../static/lib/bootstrap/js/toast.js"></script>
        <script src="../static/lib/bootstrap/js/tooltip.js"></script>
        <script src="../static/lib/bootstrap/js/util.js"></script>
        <script type="text/javascript" src="../static/lib/qweb/qweb.js"></script>
        <script type="text/javascript" src="../static/lib/qweb/qweb2.js"></script>
    </head>
    <body>
    </body>
    <footer>
        <!-- TODO: MSH: Instead of defining files here, python itself add lib abd js files using asset bundle
            or maybe use somehing like webpack -->
        <script type="module" src="static/js/app/app.js"></script>
    </footer>
</html>