<html>
    <head>
        <link rel="icon" type="image/png" href="static/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="static/css/app.css"/>
    </head>
    <body>
    </body>
    <footer>
        <script type="text/javascript" src="static/lib/qweb/qweb2.js"></script>
        <!-- <script type="module" src="static/js/components/base_component.js"></script>
        <script type="module" src="static/js/components/header.js"></script>
        <script type="module" src="static/js/components/content.js"></script>
        <script type="module" src="static/js/components/footer.js"></script> -->
        <script type="module" src="static/js/app.js"></script>
    </footer>
</html>