<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="../static/css/app.css" />

    <script type="text/javascript" src="../static/lib/jquery/jquery.js"></script>
    <!-- <script src="../popper/popper.js"></script> -->

    <link rel="preload" href="../static/lib/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font"
        crossorigin="">
    <link rel="stylesheet" type="text/css" href="../static/lib/fontawesome/css/font-awesome.css" />

    <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/css/bootstrap.css" />
    <script src="../static/lib/bootstrap/js/alert.js"></script>
    <script src="../static/lib/bootstrap/js/button.js"></script>
    <script src="../static/lib/bootstrap/js/carousel.js"></script>
    <script src="../static/lib/bootstrap/js/collapse.js"></script>
    <script src="../static/lib/bootstrap/js/dropdown.js"></script>
    <script src="../static/lib/bootstrap/js/index.js"></script>
    <script src="../static/lib/bootstrap/js/modal.js"></script>
    <!-- <script src="../bootstrap/js/popover.js"></script> -->
    <script src="../static/lib/bootstrap/js/scrollspy.js"></script>
    <script src="../static/lib/bootstrap/js/tab.js"></script>
    <script src="../static/lib/bootstrap/js/toast.js"></script>
    <script src="../static/lib/bootstrap/js/tooltip.js"></script>
    <script src="../static/lib/bootstrap/js/util.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/lib/qunit/qunit-2.9.1.css" />
    <script src="../static/lib/qunit/qunit-2.9.1.js"></script>

    <script type="text/javascript" src="../static/lib/qweb/qweb.js"></script>
    <script type="text/javascript" src="../static/lib/qweb/qweb2.js"></script>

    <script type="module" src="static/tests/qunit_setup.js"></script>
    <!-- Test Files -->
    <script type="module" src="static/tests/components/product_list_tests.js"></script>
</head>

<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
</body>
<footer>
    <!-- TODO: MSH: Instead of defining files here, python itself add lib and js files using asset bundle
            or maybe use somehing like webpack -->
    <!-- <script type="module" src="static/js/screens/shop_screen.js"></script>
    <script type="module" src="static/js/screens/productDetailsScreen/product_details_screen.js"></script> -->
    <!-- <script type="module" src="static/js/app/app.js"></script> -->

</footer>

</html>